.grid-item {
	margin: 1%;
	display: block;
	float: left;
}
.grid-item img{
	max-width: 100%;
	max-width: 100%;

}

.grid-item--width1{
	width: 50%;
	height: auto;
}

.grid-item--width2{
	width: 20%;
	height: auto;
}

.grid-item--width3{
	width: 40%;
	height: auto;
}

.grid-item--width4{
	width: 40%;
	height: auto;
}

.grid-item--width5{
	width: 20%;
	height: auto;
}


.grid-item img {
    border: none;
    border-radius: 5%;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.grid-item:hover img {
    position: relative;
    z-index: 999;
    -o-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transform: scale(1.6);
}

.grid-item:click img {
 	
}

ul {
    list-style-type: none;
    background-color: crimson;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: aqua;
}

h1{
	text-transform: uppercase;
	font-family: 'scada', 'carrois-gothic', san-seriff;
	font-size: 40px;
	align-content: center;
	text-shadow: 2px 3px 1px aqua;
}